<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <h1>Post del Blog</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
                <p>{{ post.content|truncatewords:30 }}</p>
                <p><em>Creato il {{ post.created_at }}</em></p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
